CMakeLists.txt.user*
CMakeFiles
*.qm
__*
*.h.moc
build/
*~
*.swp
.vimprj/
*.patch
*.o
*.dep
ScanTailor.config
ScanTailor.creator
ScanTailor.creator.user
ScanTailor.files
ScanTailor.includes
build-*/
samples/
test.lua
test/
chdkptp_461/chdhptp

CONFIG
COMPONENTS
TECGRAF_PATH
